body,
* {
  font-family: 'Lato', sans-serif !important; }

/*************************************************************SECTION_BEGIN********************************/
section.main_block {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  padding-left: calc(9.6% + 15px);
  padding-right: calc(9.6% + 15px); }
  @media (max-width: 1300px) {
    section.main_block {
      padding-left: 30px;
      padding-right: 30px; } }
  @media (max-width: 991px) {
    section.main_block {
      padding-left: 0;
      padding-right: 0;
      height: auto;
      min-height: 100vh;
      padding-top: 25px; } }
  section.main_block:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2; }
  section.main_block * {
    position: relative;
    z-index: 3; }
  section.main_block h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 62px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 80px; }
    @media (max-width: 1300px) {
      section.main_block h1 {
        font-size: 36px;
        line-height: 1.4; } }
    @media (max-width: 991px) {
      section.main_block h1 {
        font-size: 22px;
        line-height: 1.2;
        margin-bottom: 20px; } }
  section.main_block p {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 60px; }
    @media (max-width: 1300px) {
      section.main_block p {
        padding-left: 150px;
        padding-right: 150px; } }
    @media (max-width: 991px) {
      section.main_block p {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.2; } }
  section.main_block .main_block_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    section.main_block .main_block_links a {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 100%;
      margin-right: 40px;
      background: #0278AE;
      height: 84px;
      text-align: center;
      font-size: 22px;
      line-height: 26px;
      text-align: center;
      color: #FFFFFF;
      padding-left: 50px;
      padding-right: 50px;
      text-decoration: none;
      -webkit-transition: all .3s linear;
      transition: all .3s linear; }
      section.main_block .main_block_links a:hover {
        background: #065C85; }
      @media (max-width: 1300px) {
        section.main_block .main_block_links a {
          font-size: 16px;
          margin-right: 20px;
          line-height: 1.3; } }
      section.main_block .main_block_links a:last-child {
        margin-right: 0; }
      @media (max-width: 991px) {
        section.main_block .main_block_links a {
          padding-left: 15px;
          padding-right: 15px; } }
      @media (max-width: 991px) {
        section.main_block .main_block_links a {
          padding-left: 5px;
          padding-right: 5px;
          font-size: 12px;
          height: 35px;
          margin-bottom: 10px;
          margin-right: 0;
          max-width: 75%; } }
    @media (max-width: 991px) {
      section.main_block .main_block_links {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }

/*************************************************************SECTION_END********************************/
/*************************************************************SECTION_BEGIN********************************/
.template_link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: #0278AE;
  height: 99px;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  padding-left: 32px;
  padding-right: 32px;
  text-decoration: none;
  -webkit-transition: all .3s linear;
  transition: all .3s linear; }
  .template_link:hover {
    text-decoration: none;
    background: #065C85;
    color: #fff;
    -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.15);
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.15); }

.general_section {
  padding-left: 308px;
  background: #F2F2F2;
  min-height: 100vh; }
  @media (max-width: 991px) {
    .general_section {
      padding-left: 0px; } }

.general_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #0278AE;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .general_top ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0; }
    .general_top ul .template_link {
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      margin-right: 0; }
      @media (max-width: 1600px) {
        .general_top ul .template_link {
          font-size: 16px;
          padding-left: 10px;
          padding-right: 10px;
          line-height: 1.5;
          height: 60px; } }
      @media (max-width: 1300px) {
        .general_top ul .template_link {
          font-size: 14px;
          padding-left: 10px;
          padding-right: 10px;
          line-height: 1;
          height: 60px; } }
      @media (max-width: 991px) {
        .general_top ul .template_link {
          font-size: 12px;
          padding-left: 6px;
          padding-right: 6px; } }
      .general_top ul .template_link:hover {
        border-right-color: #065C85; }

.toggle_side_btn {
  display: none; }
  @media (max-width: 991px) {
    .toggle_side_btn {
      display: block;
      padding-left: 15px; }
      .toggle_side_btn svg {
        fill: #fff;
        margin-right: 15px;
        margin-left: 15px; } }
  @media (max-width: 991px) {
    .toggle_side_btn {
      padding-left: 0; } }

@media (max-width: 991px) {
  ul.gen_ul a {
    font-size: 12px;
    height: auto;
    padding-left: 0;
    padding-right: 0;
    background: transparent; } }
@media (max-width: 991px) {
  ul.gen_ul {
    margin-top: 15px;
    margin-bottom: 15px; } }

a.avtorization_block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-right: 36px;
  height: 99px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear; }
  @media (max-width: 1600px) {
    a.avtorization_block {
      height: 60px;
      margin-right: 15px; } }
  @media (max-width: 991px) {
    a.avtorization_block {
      margin-right: 0; } }
  a.avtorization_block:hover {
    background: #065C85;
    -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.15);
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.15); }
    @media (max-width: 1300px) {
      a.avtorization_block:hover {
        background: transparent;
        -webkit-box-shadow: none;
                box-shadow: none; } }
  a.avtorization_block span {
    font-size: 18px;
    line-height: 116.5%;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: right; }
    @media (max-width: 1600px) {
      a.avtorization_block span {
        font-size: 14px; } }
    @media (max-width: 991px) {
      a.avtorization_block span {
        line-height: 1;
        font-size: 13px; } }
  a.avtorization_block img {
    width: 51px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 51px;
            flex: 0 0 51px;
    height: 51px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 16px; }

.dropdown-menu {
  /*width: 100%;*/
  padding-left: 15px;
  padding-right: 15px; }

.datepicker td,
.datepicker th {
  width: 30px;
  height: 30px; }

.datepicker table tr td.active.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active.disabled:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active[disabled] {
  background: #0278AE; }

.logo {
  padding: 20px;
  display: inline-block;
  max-width: 150px; }
  .logo img {
    max-width: 100%; }

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 308px;
  z-index: 5;
  background: linear-gradient(237.58deg, #0278AE 14.34%, #0D6E9A 89.19%);
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
  overflow-y: auto; }
  .sidebar::-webkit-scrollbar {
    width: 13px; }
  .sidebar::-webkit-scrollbar-track {
    background: #096894; }
  .sidebar::-webkit-scrollbar-thumb {
    background-color: #004A6C; }
  @media (max-width: 991px) {
    .sidebar {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
      -webkit-transition: all .3s linear;
      transition: all .3s linear; }
      .sidebar.op_sidebar {
        -webkit-transform: translateX(0%);
                transform: translateX(0%); } }
  .sidebar * {
    color: #fff; }
  .sidebar ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0; }
    .sidebar ul a {
      color: #fff;
      text-decoration: none;
      -webkit-transition: all .3s linear;
      transition: all .3s linear; }
      .sidebar ul a svg {
        margin-right: 13px; }
  .sidebar ul.fir.text_menu_left > li.active a {
    background: #065C85; }
    .sidebar ul.fir.text_menu_left > li.active a:after {
      display: none; }
  .sidebar ul.fir.text_menu_left > li.active + li a:after {
    display: none; }
  .sidebar ul.fir > li .filt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 35px;
    margin-right: 35px;
    line-height: 55px; }
    .sidebar ul.fir > li .filt svg {
      margin-right: 15px;
      max-width: 15px;
      height: auto;
      fill: #fff;
      width: 100%; }
  .sidebar ul.fir > li:last-child {
    position: relative; }
    .sidebar ul.fir > li:last-child.active_accord:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 20px;
      right: 20px;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      -webkit-transition: all .3s linear;
      transition: all .3s linear; }
  .sidebar ul.fir > li > .accord_body {
    padding-bottom: 10px; }
  .sidebar ul.fir > li > a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 55px;
    padding-left: 35px;
    padding-right: 35px;
    position: relative; }
    .sidebar ul.fir > li > a:after {
      content: "";
      position: absolute;
      top: 0;
      left: 20px;
      right: 20px;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      -webkit-transition: all .3s linear;
      transition: all .3s linear; }
    .sidebar ul.fir > li > a.accord_top:before {
      content: "";
      position: absolute;
      width: 14px;
      height: 7px;
      border-top: solid 7px #ffff;
      border-left: solid 7px transparent;
      border-right: solid 7px transparent;
      right: 33px;
      -webkit-transition: all .3s linear;
      transition: all .3s linear; }
    .sidebar ul.fir > li > a:hover {
      background: #065C85; }
    .sidebar ul.fir > li > a.op {
      background: #065C85; }
      .sidebar ul.fir > li > a.op:after {
        opacity: 0; }
  .sidebar ul.fir > li:hover + li > a:after {
    opacity: 0; }
  .sidebar ul.sec {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    background: #065C85;
    border-radius: 3px;
    overflow: hidden; }
    .sidebar ul.sec li {
      /*padding-bottom: 10px;*/ }
    .sidebar ul.sec a {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      width: 100%;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      line-height: 34px;
      padding-left: 11px;
      padding-right: 11px;
      position: relative;
      font-size: 14px; }
      .sidebar ul.sec a.accord_top:before {
        content: "";
        position: absolute;
        width: 12px;
        height: 6px;
        border-top: solid 6px #ffff;
        border-left: solid 6px transparent;
        border-right: solid 6px transparent;
        right: 15px;
        -webkit-transition: all .3s linear;
        transition: all .3s linear; }

.accord_body.someone {
  padding-bottom: 0 !important;
  margin: 20px; }

.for_scroll_class {
  max-height: 250px;
  overflow-y: auto; }
  .for_scroll_class::-webkit-scrollbar {
    width: 13px; }
  .for_scroll_class::-webkit-scrollbar-track {
    background: #096894; }
  .for_scroll_class::-webkit-scrollbar-thumb {
    background-color: #065C85; }

ul.thi {
  background: #004A6C;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 12px;
  padding-right: 12px; }
  ul.thi.count_ul {
    background: none;
    padding: 0;
    padding-bottom: 10px; }
    ul.thi.count_ul .accord_top {
      background: #004A6C;
      display: block;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      padding-left: 28px;
      padding-top: 3px;
      padding-bottom: 3px;
      position: relative;
      border-radius: 2px;
      cursor: pointer; }
      ul.thi.count_ul .accord_top:after {
        content: '';
        width: 10px;
        height: 10px;
        position: absolute;
        left: 10px;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        border: 1px solid #fff;
        border-radius: 50%; }
      ul.thi.count_ul .accord_top.op:before {
        content: '';
        width: 6px;
        height: 6px;
        position: absolute;
        left: 12px;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        border-radius: 50%;
        background: #fff; }
    ul.thi.count_ul .form-group {
      margin-bottom: 0;
      padding-top: 10px;
      clear: both;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
      ul.thi.count_ul .form-group input {
        max-width: calc(100% - 28px);
        width: 100%;
        background: #004A6C;
        border-radius: 2px;
        font-size: 14px;
        line-height: 17px;
        border: 0;
        height: 24px;
        outline: none;
        color: rgba(255, 255, 255, 0.2);
        padding-left: 10px; }
        ul.thi.count_ul .form-group input.datepicker1 {
          background: #004A6C url(../images/calendar_icon.svg) no-repeat center right 10px; }
  ul.thi > li {
    line-height: 1;
    margin-bottom: 4px; }
    ul.thi > li:last-child {
      margin-bottom: 0; }

.checkbox-custom {
  opacity: 0;
  position: absolute;
  display: none; }

.checkbox-custom-label {
  display: block;
  cursor: pointer;
  padding-left: 16px;
  position: relative;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px; }

.checkbox-custom + .checkbox-custom-label:before {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0;
  top: 55%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: 1px solid #fff;
  border-radius: 2px; }

.checkbox-custom:checked + .checkbox-custom-label:after {
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  left: 2px;
  top: 55%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 2px;
  background: #fff; }

.mb_30 {
  margin-bottom: 30px; }

#map {
  width: 100%;
  height: 360px;
  border-radius: 2px;
  overflow: hidden; }

.full_block #map {
  width: 100%;
  height: 80vh; }

a.item_useful {
  display: block;
  text-decoration: none;
  border-bottom: 1px solid #828282;
  padding-bottom: 30px;
  margin-bottom: 25px;
  cursor: pointer; }
  a.item_useful h5 {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    padding-bottom: 12px;
    margin: 0;
    -webkit-transition: all .15s linear;
    transition: all .15s linear; }
    a.item_useful h5:hover {
      color: #555; }
  a.item_useful p {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    margin-bottom: 0; }
    a.item_useful p span {
      padding-left: 24px;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      color: #0278AE; }

.accord_body {
  display: none; }

button.exist {
  display: block;
  cursor: pointer;
  width: 100%;
  max-width: calc(100% - 40px);
  line-height: 55px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 25px;
  border: 0;
  outline: none;
  background-color: #065C85;
  -webkit-transition: all .3s linear;
  transition: all .3s linear; }
  button.exist:hover {
    background-color: #004A6C;
    color: #fff;
    text-decoration: none; }

.general_bottom {
  padding: 36px; }
  @media (max-width: 991px) {
    .general_bottom {
      padding: 15px; } }

canvas#myChart {
  max-height: 350px !important;
  width: auto !important; }

.panel {
  background: #fff;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-bottom: 0px; }
  @media (max-width: 991px) {
    .panel {
      margin-bottom: 0; } }
  .panel.full_block {
    position: fixed;
    top: 0;
    background: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    margin-bottom: 0; }

.panel-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #0278AE;
  padding: 5px 16px; }
  .panel-heading .panel-heading-btn {
    line-height: 1; }
  .panel-heading h4 {
    font-size: 18px;
    line-height: 1.2;
    color: #fff;
    font-weight: 700;
    margin-bottom: 0; }
    @media (max-width: 1600px) {
      .panel-heading h4 {
        font-size: 15px; } }
  .panel-heading a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px rgba(1, 1, 1, 0.1);
            box-shadow: 0 0 5px rgba(1, 1, 1, 0.1);
    background: #fff;
    -webkit-transition: all .3s linear;
    transition: all .3s linear; }
    @media (max-width: 1600px) {
      .panel-heading a {
        width: 30px;
        height: 25px; } }
    @media (max-width: 991px) {
      .panel-heading a {
        width: 20px;
        height: 20px; } }
    .panel-heading a:hover {
      background: #afdff5; }
    .panel-heading a img {
      -o-object-fit: contain;
         object-fit: contain;
      width: 100%;
      height: 100%;
      max-width: 8px; }

a.full_toggle img:nth-child(2) {
  display: none; }

.panel.full_block a.full_toggle img:nth-child(2) {
  display: block; }

.panel.full_block a.full_toggle img:nth-child(1) {
  display: none; }

.panel-body {
  padding: 30px; }
  @media (max-width: 991px) {
    .panel-body {
      padding: 10px; } }

.tabl_scroll {
  max-height: 360px;
  overflow: auto; }
  .tabl_scroll::-webkit-scrollbar {
    width: 11px; }
  .tabl_scroll::-webkit-scrollbar-track {
    background: #F2F2F2;
    border: 1px solid #828282; }
  .tabl_scroll::-webkit-scrollbar-thumb {
    background: #828282;
    /*outline: 1px solid slategrey;*/ }

.my_table {
  border-collapse: collapse;
  width: 100%; }
  .my_table thead {
    background: #E0E0E0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1; }
  .my_table td {
    border: 1px solid #828282;
    padding: 5px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #333333;
    -webkit-transition: all .15s linear;
    transition: all .15s linear; }
  .my_table tbody tr:hover td {
    background: #F2F2F2; }

.text_body {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 25px 30px;
  min-height: calc(100vh - 171px); }
  @media (max-width: 991px) {
    .text_body {
      padding: 10px; } }
  .text_body .item_text:last-child a.accord_top {
    margin-bottom: 0 !important; }
  .text_body a.accord_top {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 20px;
    color: #333333;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none; }
    @media (max-width: 991px) {
      .text_body a.accord_top {
        font-size: 14px;
        margin-bottom: 10px;
        line-height: 1.2; } }
    .text_body a.accord_top:after {
      content: "";
      width: 12px;
      height: 6px;
      border-top: solid 6px #333333;
      border-left: solid 6px transparent;
      border-right: solid 6px transparent;
      -webkit-transition: all .3s linear;
      transition: all .3s linear;
      margin-left: 18px;
      -webkit-transform: rotate(-90deg);
              transform: rotate(-90deg); }
    .text_body a.accord_top.op:after {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg); }

/*************************************************************SECTION_END********************************/
/*************************************************************SECTION_BEGIN********************************/

/*# sourceMappingURL=style.css.map */