$blue: #0278AE;
$blue_hover: #065C85;



body,
* {
    font-family: 'Lato', sans-serif !important;
}

@mixin desk {
    @media (max-width: 1600px) {
        @content;
    }
}

@mixin ipad_pro {
    @media (max-width: 1300px) {
        @content;
    }
}

@mixin ipad {
    @media (max-width: 991px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 991px) {
        @content;
    }
}


/*************************************************************SECTION_BEGIN********************************/

section.main_block {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    padding-left: calc(9.6% + 15px);
    padding-right: calc(9.6% + 15px);

    @include ipad_pro {
        padding-left: 30px;
        padding-right: 30px;
    }

    @include mobile {
        padding-left: 0;
        padding-right: 0;
        height: auto;
        min-height: 100vh;
        padding-top: 25px;
    }

    &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, .60);
        z-index: 2;
    }

    * {
        position: relative;
        z-index: 3;
    }

    h1 {
        font-style: normal;
        font-weight: 600;
        font-size: 52px;
        line-height: 62px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 80px;

        @include ipad_pro {
            font-size: 36px;
            line-height: 1.4;
        }

        @include mobile {
            font-size: 22px;
            line-height: 1.2;
            margin-bottom: 20px;
        }
    }

    p {
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 60px;

        @include ipad_pro {
            padding-left: 150px;
            padding-right: 150px;
        }

        @include mobile {
            padding-left: 20px;
            padding-right: 20px;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.2;
        }
    }

    .main_block_links {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-right: 40px;
            background: $blue;
            height: 84px;
            text-align: center;
            font-size: 22px;
            line-height: 26px;
            text-align: center;
            color: #FFFFFF;
            padding-left: 50px;
            padding-right: 50px;
            text-decoration: none;
            transition: all .3s linear;

            &:hover {
                background: $blue_hover;
            }

            @include ipad_pro {
                font-size: 16px;
                margin-right: 20px;
                line-height: 1.3;
            }

            &:last-child {
                margin-right: 0;
            }

            @include ipad {
                padding-left: 15px;
                padding-right: 15px;
            }

            @include mobile {
                padding-left: 5px;
                padding-right: 5px;
                font-size: 12px;
                height: 35px;
                margin-bottom: 10px;
                margin-right: 0;
                max-width: 75%;
            }
        }

        @include mobile {
            flex-wrap: wrap;
            justify-content: center;
        }

    }
}



/*************************************************************SECTION_END********************************/
/*************************************************************SECTION_BEGIN********************************/
.template_link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: $blue;
    height: 99px;
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    padding-left: 32px;
    padding-right: 32px;
    text-decoration: none;
    transition: all .3s linear;

    &:hover {
        text-decoration: none;
        background: $blue_hover;
        color: #fff;
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.15);
    }
}

.general_section {
    padding-left: 308px;
    background: #F2F2F2;
    min-height: 100vh;

    @include ipad {
        padding-left: 0px;
    }
}

.general_top {
    display: flex;
    background: $blue;
    align-items: center;
    justify-content: space-between;

    ul {
        display: flex;
        align-items: center;
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        .template_link {
            border-right: 1px solid rgba(255, 255, 255, 0.2);
            margin-right: 0;

            @include desk {
                font-size: 16px;
                padding-left: 10px;
                padding-right: 10px;
                line-height: 1.5;
                height: 60px;
            }

            @include ipad_pro {
                font-size: 14px;
                padding-left: 10px;
                padding-right: 10px;
                line-height: 1;
                height: 60px;
            }

            @include ipad {
                font-size: 12px;
                padding-left: 6px;
                padding-right: 6px;
            }

            &:hover {
                border-right-color: $blue_hover;
            }
        }
    }
}

.toggle_side_btn {
    display: none;

    @include ipad {
        display: block;
        padding-left: 15px;

        svg {
            fill: #fff;
            margin-right: 15px;
            margin-left: 15px;
        }
    }

    @include mobile {
        padding-left: 0;
    }
}

ul.gen_ul {
    a {
        @include mobile {
            font-size: 12px;
            height: auto;
            padding-left: 0;
            padding-right: 0;
            background: transparent;
        }

    }

    @include mobile {
        margin-top: 15px;
        margin-bottom: 15px;
    }

}

a.avtorization_block {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    margin-right: 36px;
    height: 99px;
    padding-right: 15px;
    padding-left: 15px;
    transition: all .3s linear;

    @include desk {
        height: 60px;
        margin-right: 15px;
    }

    @include mobile {
        margin-right: 0;
    }

    &:hover {
        background: $blue_hover;
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.15);

        @include ipad_pro {
            background: transparent;
            box-shadow: none;
        }
    }

    span {
        font-size: 18px;
        line-height: 116.5%;
        letter-spacing: 0.02em;
        color: #fff;
        text-align: right;

        @include desk {
            font-size: 14px;
        }

        @include mobile {
            line-height: 1;
            font-size: 13px;
        }
    }

    img {
        width: 51px;
        flex: 0 0 51px;
        height: 51px;
        display: block;
        border-radius: 50%;
        overflow: hidden;
        margin-left: 16px;
    }
}

.dropdown-menu {
    /*width: 100%;*/
    padding-left: 15px;
    padding-right: 15px;
}

.datepicker td,
.datepicker th {
    width: 30px;
    height: 30px;
}

.datepicker table tr td.active.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active.disabled:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active[disabled] {
    background: $blue;
}

.logo {
    padding: 20px;
    display: inline-block;
    max-width: 150px;

    img {
        max-width: 100%;
    }
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 308px;
    z-index: 5;
    background: linear-gradient(237.58deg, #0278AE 14.34%, #0D6E9A 89.19%);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 13px;
    }

    &::-webkit-scrollbar-track {
        background: #096894;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #004A6C;
    }

    @include ipad {
        transform: translateX(-100%);
        transition: all .3s linear;

        &.op_sidebar {
            transform: translateX(0%);
        }
    }

    * {
        color: #fff;
    }

    ul {
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;

        a {
            color: #fff;
            text-decoration: none;
            transition: all .3s linear;

            svg {
                margin-right: 13px;
            }
        }
    }

    ul.fir {
        &.text_menu_left {
            >li {
                &.active {
                    a {
                        background: #065C85;

                        &:after {
                            display: none;
                        }
                    }

                    &+li {
                        a {
                            &:after {
                                display: none;
                            }
                        }
                    }
                }

            }
        }

        >li {
            .filt {
                display: flex;
                align-items: center;
                margin-left: 35px;
                margin-right: 35px;
                line-height: 55px;

                svg {
                    margin-right: 15px;
                    max-width: 15px;
                    height: auto;
                    fill: #fff;
                    width: 100%;
                }
            }

            &:last-child {
                position: relative;

                &.active_accord:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 20px;
                    right: 20px;
                    border-top: 1px solid rgba(255, 255, 255, 0.2);
                    transition: all .3s linear;
                }

                // &:hover:after {
                //     opacity: 0;
                // }
            }

            >.accord_body {
                padding-bottom: 10px;
            }

            >a {
                display: inline-flex;
                width: 100%;
                align-items: center;
                line-height: 55px;
                padding-left: 35px;
                padding-right: 35px;
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 20px;
                    right: 20px;
                    border-top: 1px solid rgba(255, 255, 255, 0.2);
                    transition: all .3s linear;
                }

                &.accord_top:before {
                    content: "";
                    position: absolute;
                    width: 14px;
                    height: 7px;
                    border-top: solid 7px #ffff;
                    border-left: solid 7px transparent;
                    border-right: solid 7px transparent;
                    right: 33px;
                    transition: all .3s linear;
                }

                &:hover {
                    background: $blue_hover;

                    &:after {
                        // opacity: 0;
                    }
                }

                &.op {
                    background: $blue_hover;

                    &:after {
                        opacity: 0;
                    }
                }
            }

            &:hover+li {
                >a {
                    &:after {
                        opacity: 0;
                    }
                }
            }
        }

    }

    ul.sec {
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
        background: #065C85;
        border-radius: 3px;
        overflow: hidden;

        li {
            /*padding-bottom: 10px;*/
        }

        a {
            display: inline-flex;
            width: 100%;
            align-items: center;
            line-height: 34px;
            padding-left: 11px;
            padding-right: 11px;
            position: relative;
            font-size: 14px;

            &.accord_top:before {
                content: "";
                position: absolute;
                width: 12px;
                height: 6px;
                border-top: solid 6px #ffff;
                border-left: solid 6px transparent;
                border-right: solid 6px transparent;
                right: 15px;
                transition: all .3s linear;
            }
        }
    }
}

.accord_body.someone {
    padding-bottom: 0 !important;
    margin: 20px;
}

.for_scroll_class {
  max-height: 250px;
  overflow-y: auto;
    &::-webkit-scrollbar {
        width: 13px;
    }

    &::-webkit-scrollbar-track {
        background: #096894;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #065C85;
    }
}

ul.thi {
    background: #004A6C;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 12px;
    padding-right: 12px;

    &.count_ul {
        background: none;
        padding: 0;
        padding-bottom: 10px;

        .accord_top {
            background: #004A6C;
            display: block;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
            padding-left: 28px;
            padding-top: 3px;
            padding-bottom: 3px;
            position: relative;
            border-radius: 2px;
            cursor: pointer;

            &:after {
                content: '';
                width: 10px;
                height: 10px;
                position: absolute;
                left: 10px;
                top: 50%;
                transform: translateY(-50%);
                border: 1px solid #fff;
                border-radius: 50%;
            }

            &.op:before {
                content: '';
                width: 6px;
                height: 6px;
                position: absolute;
                left: 12px;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 50%;
                background: #fff;
            }
        }

        .form-group {
            margin-bottom: 0;
            padding-top: 10px;
            clear: both;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            input {
                max-width: calc(100% - 28px);
                width: 100%;
                background: #004A6C;
                border-radius: 2px;
                font-size: 14px;
                line-height: 17px;
                border: 0;
                height: 24px;
                outline: none;
                color: rgba(255, 255, 255, 0.2);
                padding-left: 10px;

                &.datepicker1 {
                    background: #004A6C url(../images/calendar_icon.svg) no-repeat center right 10px;
                }
            }
        }
    }

    >li {
        line-height: 1;
        margin-bottom: 4px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}


.checkbox-custom {
    opacity: 0;
    position: absolute;
    display: none;
}

.checkbox-custom-label {
    display: block;
    cursor: pointer;
    padding-left: 16px;
    position: relative;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
}

.checkbox-custom+.checkbox-custom-label:before {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0;
    top: 55%;
    transform: translateY(-50%);
    border: 1px solid #fff;
    border-radius: 2px;
}

.checkbox-custom:checked+.checkbox-custom-label:after {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    left: 2px;
    top: 55%;
    transform: translateY(-50%);
    border-radius: 2px;
    background: #fff;
}

.mb_30 {
    margin-bottom: 30px;
}

#map {
    width: 100%;
    height: 360px;
    border-radius: 2px;
    overflow: hidden;
}

.full_block #map {
    width: 100%;
    height: 80vh;
}

a.item_useful {
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #828282;
    padding-bottom: 30px;
    margin-bottom: 25px;
    cursor: pointer;

    h5 {
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        color: #333333;
        padding-bottom: 12px;
        margin: 0;
        transition: all .15s linear;

        &:hover {
            color: #555;
        }
    }

    p {
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #828282;
        margin-bottom: 0;

        span {
            padding-left: 24px;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            color: #0278AE;
        }
    }
}












.accord_body {
    display: none;
}

button.exist {
    display: block;
    cursor: pointer;
    width: 100%;
    max-width: calc(100% - 40px);
    line-height: 55px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 25px;
    border: 0;
    outline: none;
    background-color: #065C85;
    transition: all .3s linear;

    &:hover {
        background-color: #004A6C;
        color: #fff;
        text-decoration: none;
    }
}

.general_bottom {
    padding: 36px;

    @include mobile {
        padding: 15px;
    }
}

canvas#myChart {
    max-height: 350px !important;
    width: auto !important;
}

.panel {
    background: #fff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 0px;

    @include mobile {
        margin-bottom: 0;
    }

    &.full_block {
        position: fixed;
        top: 0;
        background: #fff;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        margin-bottom: 0;
    }
}

.panel-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $blue;
    padding: 5px 16px;

    .panel-heading-btn {
        line-height: 1;
    }

    h4 {
        font-size: 18px;
        line-height: 1.2;
        color: #fff;
        font-weight: 700;
        margin-bottom: 0;

        @include desk {
            font-size: 15px;
        }
    }

    a {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(1, 1, 1, .1);
        background: #fff;
        transition: all .3s linear;

        @include desk {
            width: 30px;
            height: 25px;
        }

        @include mobile {
            width: 20px;
            height: 20px;
        }

        &:hover {
            background: #afdff5;
        }

        ;

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
            max-width: 8px;
        }
    }
}

a.full_toggle img:nth-child(2) {
    display: none;
}

.panel.full_block a.full_toggle img:nth-child(2) {
    display: block;
}

.panel.full_block a.full_toggle img:nth-child(1) {
    display: none;
}

.panel-body {
    padding: 30px;

    @include mobile {
        padding: 10px;
    }

}

.tabl_scroll {
    max-height: 360px;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 11px;
    }

    &::-webkit-scrollbar-track {
        background: #F2F2F2;
        border: 1px solid #828282;
    }

    &::-webkit-scrollbar-thumb {
        background: #828282;
        /*outline: 1px solid slategrey;*/
    }

}

.my_table {
    border-collapse: collapse;
    width: 100%;

    thead {
        background: #E0E0E0;
        position: sticky;
        top: 0;
        z-index: 1
    }

    td {
        border: 1px solid #828282;
        padding: 5px;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #333333;
        transition: all .15s linear;
    }

    tbody {
        tr {
            &:hover {
                td {
                    background: #F2F2F2;
                }
            }
        }
    }
}

.text_body {
    background: #FFFFFF;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 25px 30px;
    min-height: calc(100vh - 171px);

    @include mobile {
        padding: 10px;
    }

    .item_text {
        &:last-child {
            a.accord_top {
                margin-bottom: 0 !important;
            }
        }
    }

    a.accord_top {
        font-weight: 600;
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 20px;
        color: #333333;
        display: inline-flex;
        align-items: center;
        text-decoration: none;

        @include mobile {
            font-size: 14px;
            margin-bottom: 10px;
            line-height: 1.2;
        }

        &:after {
            content: "";
            width: 12px;
            height: 6px;
            border-top: solid 6px #333333;
            border-left: solid 6px transparent;
            border-right: solid 6px transparent;
            -webkit-transition: all .3s linear;
            transition: all .3s linear;
            margin-left: 18px;
            transform: rotate(-90deg);
        }

        &.op {
            &:after {
                transform: rotate(0deg);
            }
        }
    }
}




/*************************************************************SECTION_END********************************/
/*************************************************************SECTION_BEGIN********************************/